{% extends 'base.html' %}

{% block title %}Home - ProjectFlow{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">Welcome to ProjectFlow</h1>
            <p class="lead">
                Your complete project management solution
            </p>
            
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg mt-3">
                    Go to Dashboard <i class="fas fa-arrow-right ms-2"></i>
                </a>
            {% else %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 gap-3">
                        Login <i class="fas fa-sign-in-alt ms-2"></i>
                    </a>
                    <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-lg px-4">
                        Register <i class="fas fa-user-plus ms-2"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}